{% load staticfiles %}
<div class="container-fluid">
  <div class="col-xs-12">
    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-xs-3" style="text-align: left; margin-top: 10px;">
                <a href="/" class="btn btn-inverse logo-style">
                    <img src="{% static 'probegin_test/logo.png' %}">
                </a>
            </div>
            <div class="col-xs-7" style="text-align: center;">
                <div class="btn-group-justified" role="group">
                    <a href="{% url 'user-blog-list' %}" class="btn btn-primary btn-rectangle">
                        <span class="glyphicon glyphicon-book" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="my blogs"></span>
                        <br/>my blogs
                    </a>
                    <a href="{% url 'blog-list' %}" class="btn btn-success btn-rectangle">
                        <span class="glyphicon glyphicon-th-large" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="all bogs"></span>
                        <br/>all blogs
                    </a>
                    <a href="{% url 'blog-categories-list' %}" class="btn btn-primary btn-rectangle">
                        <span class="glyphicon glyphicon-th-list" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="all bogs"></span>
                        <br/>categories
                    </a>
                    <a href="{% url 'post-list' %}" class="btn btn-success btn-rectangle">
                        <span class="glyphicon glyphicon-list-alt" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="new post"></span>
                        <br/>my posts
                    </a>
                    <a href="{% url 'blog-add' %}" class="btn btn-primary btn-rectangle">
                        <span class="glyphicon glyphicon-plus" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="new post"></span>
                        <br/>add blog
                    </a>
                    <a href="{% url 'post-add' %}" class="btn btn-success btn-rectangle">
                        <span class="glyphicon glyphicon-plus-sign" style="font-size: 25px; color: greenyellow;"
                              data-toggle="tooltip" data-placement="bottom" title="new post"></span>
                        <br/>add post
                    </a>
                </div>
            </div>
            <div class="col-xs-2" style="text-align: right;">
                <div class="btn-group">
{#                    <a href="/profile" class="btn btn-primary btn-rectangle">#}
{#                        <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span></a>#}
                    <a href="{% url 'logout' %}" class="btn btn-default btn-rectangle" style="height: 74px;">
                        <span class="glyphicon glyphicon-log-out" style="font-size: 25px;"></span></a>
                </div>
            </div>
        </div>
    </nav>
  </div>
</div>