{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- La<h3>test</h3> compiled and minified JavaScript -->
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}

<script type="text/javascript"
        src="{% static 'probegin_test/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'probegin_test/django_ajax/jquery.ajax.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'probegin_test/django_ajax/jquery.ajax-plugin.min.js' %}">
</script>

<script src="{% static 'probegin_test/js/global_script.js' %}"></script>

<!-- Bootstrap-select from: https://silviomoreto.github.io/bootstrap-select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script> <!-- optional translation -->#}