{% extends "probegin_test/master.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Post <strong>{{ post }}</strong> comments</h1>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>{{ post.title }}</strong>
                <br/>
                <small><a href="{% url 'blog-post-list' post.blog.pk %}">Blog: {{ post.blog }}</a></small>

                {% for category in post.blog.categories.all %}
                <a href="{% url 'category-blog-list' category.pk %}"><span class="label label-info">{{ category.name }}</span></a>
                {% endfor %}

            </div>
            <div class="panel-body">{{ post.content }}</div>
        </div>
        <br/>
        <div id="comments">
        {% for comment in comments_list %}
            {% include 'probegin_test/comment/comment.html' %}
        {% endfor %}
        </div>
        <br/>
        {% if user.is_authenticated %}
        <div class="row text-center">
            <h4>Add comment</h4>
            <div class="col-md-12 text-right">
                <textarea id="new-comment" class="btn-group-justified" type="text" post_id="{{ post.pk }}"
                          placeholder="place your comment here" name="content" required="required"></textarea>
                <br/>
                <button type="button" id="btn-add-new-comment" class="btn btn-primary">Send</button>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'probegin_test/js/comment.js' %}"></script>
{% endblock %}

